@model Gestionale.DomainModel.UpsertProductViewModel

<h2>@(Model.Product.Id == 0 ? "Aggiungi un Prodotto" : "Modifica Prodotto")</h2>

<form action="/product/save" method="post">
    <!--  Campo ID Nascosto per identificare il magazzino selezionato  -->
    <input type="hidden" name="Id" id="Id" value="@Model.Product.Id" />

    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Product.Name" placeholder="Inserisci nome del prodotto" required />
    </div>

    <div class="form-group">
        <label for="Brand">Brand</label>
        <input type="text" class="form-control" id="Brand" name="Brand" value="@Model.Product.Brand" placeholder="Inserisci marca del prodotto" required />
    </div>

    <div class="form-group">
        <label for="Price">Price</label>
        <input type="text" class="form-control" id="Price" name="Price" value="@Model.Product.Price" placeholder="Inserisci prezzo del prodotto" required />
    </div>
    
    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" id="Description" name="Description" value="@Model.Product.Description" placeholder="Inserisci descrizione" required />
    </div>

    <a href="/product/all" class="btn btn-danger mt-2">Annulla</a>
    <button type="submit" class="btn btn-primary mt-2">Salva</button>
</form>

<!--  Script per eseguire il redirect automatico alla pagina  -->
<script>
    // Seleziona il form di cancellazione presente nel modal
    const saveForm = document.querySelector('form[action="/product/save"]');

    // Aggiunge un listener all'evento "submit" del form
    saveForm.addEventListener('submit', function(event) {
        event.preventDefault(); // Previene il comportamento predefinito del form (cioè il reload della pagina)

        const formData = new FormData(saveForm);

        // Effettua una chiamata fetch per inviare la richiesta POST al server
        fetch(saveForm.action, {
            method: saveForm.method,  // Usa il metodo definito nel form (POST)
            body: formData              // Invia i dati del form (l'id)
        })
        .then(response => response.json())
            .then(commandResponse =>{
                if (commandResponse)
                    window.location.href = commandResponse.returnUrl;
                else
                    alert(commandResponse.message)
            })
        .catch(error => {
            // Se c'è un errore nella richiesta, lo logga in console e mostra un alert
            console.error("Errore durante il salvataggio:", error);
            alert("Si è verificato un errore durante il salvataggio.");
        });
    });
</script>